{% extends 'base.html' %}
{% load static %}

{% block title %}First App | Form Page{% endblock %}

{% block content %}

<div class="">
    <h1>This is First_app Form Page</h1>
    <hr>

</div>

<div class="form_container w-50 m-auto pt-5">
    <h3>Django Satisfaction Rating Form</h3>
    <form method="post" action="/about/">
        {% csrf_token %}
        <div class="mb-3">
            <label for="userName" class="form-label">Name</label>
            <input type="text" class="form-control" id="userName" aria-describedby="namelHelp" name="userName">
        </div>
        <div class="mb-3">
            <label for="userEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" name="userEmail">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="rating">
                <option selected>Satisfection Ratings [1>5]</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}